html {
    background-color: black;
}

#container {
    border: 5px solid white;
    padding: 5px;
    width: 50%;
    margin: auto;
    background-color: rgb(80, 80, 80);
    color: rgb(122, 199, 7);
    font-family: 'Roboto', sans-serif;
}

.button {
    margin: 0.1rem;
}

.button:hover {
    transform: scale(1.1);
}

.msg {
    color:rgb(109, 204, 236);
    font-family:Verdana, sans-serif;
}
