:root {
    background-color: black;
}

#container {
    background-color: rgb(80, 80, 80);
    color: rgb(122, 199, 7);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.button {
    margin: 0.1rem;
}

.button:hover {
    transform: scale(1.1);
}

.msg {
    color:rgb(109, 204, 236);
    font-family:Verdana, sans-serif;
}
